[package]
name = "enr"
authors = ["Age Manning <Age@AgeManning.com>"]
edition = "2018"
version = "0.10.0"
description = "Rust implementation of Ethereum Node Record (ENR) EIP778"
readme = "./README.md"
keywords = ["ethereum", "enr", "record", "EIP778", "node"]
repository = "https://github.com/sigp/enr"
categories = ["cryptography::cryptocurrencies"]
license = "MIT"
exclude = [".gitignore", ".github/*"]

[dependencies]
alloy-rlp = { version = "0.3.3", default-features = true }
base64 = "0.21.0"
bytes = "1"
hex = { version = "0.4.2" }
log = "0.4.8"
rand = "0.8"
zeroize = "1.1.0"
sha3 = "0.10"
k256 = { version = "0.13", features = ["ecdsa"], optional = true }
serde = { version = "1.0.110", features = ["derive"], optional = true }
ed25519-dalek = { version = "2.0.0", optional = true, features = ["rand_core"] }
secp256k1 = { version = "0.28", optional = true, default-features = false, features = [
    "global-context",
] }

[dev-dependencies]
secp256k1 = { features = ["rand-std"], version = "0.28" }
serde_json = { version = "1.0.95" }

[features]
default = ["serde", "k256"]
ed25519 = ["ed25519-dalek"]
rust-secp256k1 = ["secp256k1"]

[lib]
name = "enr"
path = "src/lib.rs"

[package.metadata.docs.rs]
all-features = true
